abc
<div id="map_canvas" ></div>




<script type="text/javascript">
	
	$().ready(function(){
		setTimeout(function(){
			if($("#map_canvas").html() == ""){	
				location.reload();
			}
		}, 2000);
		 
	});
</script>

